body{
  margin:0px;
  display:flex;
  flex-direction:column;
  align-items: center;
  background-color: #000;
}
header{
  display:flex;
  background-color: #32A1AB;
  height: 70px;
  width: 100%;
}
#menuPrincipal{
  display:flex;
  flex-direction:row;
  width: 60%;
  align-items: flex-start;
  justify-content: space-around;
  align-items: center;

}
#menuPrincipal>a{
  color:white;
  font-size: 1.2em;
  height: 40px;
  padding:15px 20px 0px 20px;
  text-decoration: none;
  border-radius: 5px;
}
#menuPrincipal>a:hover{
  color:cyan;
  background-color: black;
}
#pandasRow{
  margin-top: 20px;
  display:flex;
  height: auto;
  width: 80%;
  flex-direction:row;
  justify-content: space-between;
}

.cerrar{
  font-size: 30px;
  color:white;
  font-weight: bold;
  padding: 0px;
  margin: 5px;
  width: 10%;
}

.cerrar:hover{
  color:cyan;
  cursor:pointer;
}
.contenedorPanda{
  width: 20%;
  background-size: cover;
  height: 200px;
  border-radius: 50%;
}
#pandaUno{
  background-image: url(../img/panda1.jpg);
  visibility: visible;
}
#pandaDos{
  background-image: url(../img/panda2.jpg);
  visibility: visible;
}
#pandaTres{
  background-image: url(../img/panda3.jpg);
  visibility: visible;
}
#pandaCuatro{
  background-image: url(../img/panda4.jpg);
  visibility: visible;
}
#botonesSecundarios{
  display:flex;
  height: 120px;
  width: 80%;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}
#botonesSecundarios>a{
  width: 25%;
  color:white;
  font-size: 1.2em;
  height: 40px;
  padding:15px 20px 0px 20px;
  text-decoration: none;
  background-color: #32A1AB;
  text-align: center;
  border: solid #32A1AB;
  border-radius: 5px;
}
#botonesSecundarios>a:hover{
  color:cyan;
  background-color: black;
}
#textos{
  display:flex;
  height: 250px;
  width: 80%;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}
.contenedorTexto{
  width: 45%;
  text-align: justify;
  color:white;
}
footer{
  width: 100%;
  height: 120px;
  background-color:#0D0D0D;
  display:flex;
  justify-content: center;
  color: #32A1AB;
  align-items: center;
  border-top: solid thin #32A1AB;
}
